{% extends "admin/base.html" %}
{% import 'admin/macros.html' as macros %}
{% block title %}CMS - Dashboard / SEO / SEO List{% endblock %}
{% block styles %}
    {% include 'admin/includes/datatable_styles.html' %}
{% endblock %}
{% block content %}
    <div class="">
        <div class="page-header-title">
            <h3 class="page-title">Dashboard / Meta Tags</h3>
        </div>
    </div>
    <div class="page-content-wrapper ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            {% include 'admin/includes/flashes.html' %}
                            <div class="row">
                                <h4 class="m-b-30 m-t-0 pl-2 mr-auto">Meta Tags List</h4>
                                <a href="#" class="swal-confirm swal-confirm-bulk waves-effect btn btn-danger m-b-30 mr-2"
                                   swal-warn="Are you sure you want to delete these modules ?">Bulk Delete</a>
                                <form calss="swal-submit" action="{{ url_for('admin.seo_delete', seo_id=0)}}" method="POST">
                                   <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" /> 
                                     <input type="hidden" name="ids[]"> 
                                </form>
                                <a href="{{ url_for('admin.seo_add')}}" class="waves-effect btn btn-success m-b-30"> Add Meta Tag</a>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-12">
                                    <div class="table-responsive">
                                        <table id="datatable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th>Meta Tag</th>
                                                <th>Title</th>
                                                <th>Content</th>
                                                <th>Action</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for seo in seos.items %}
                                                <tr>
                                                    <td class="text-center">
                                                        <div class="checkbox checkbox-danger">
                                                            <input id="checkbox-{{ seo.id }}" type="checkbox">
                                                            <label class="bulk-checkbox" data-value="{{ seo.id }}" for="checkbox-{{ seo.id }}"></label>
                                                        </div>
                                                    </td>
                                                    <td>{{ seo.meta_tag }}</td>
                                                    <td>{{ seo.title }}</td>
                                                    <td>{{ seo.content }}</td>
                                                   
                                                    <td>
                                                        <a href="{{ url_for('admin.seo_update', seo_id=seo.id)}}" class="btn btn-info btn-sm mr-2">Edit</a>
                                                        <a href="#" class="swal-confirm btn btn-danger btn-sm mr-2"
                                                        swal-warn="Are you sure you want to delete this module ?">Delete</a>
                                                        <form class="swal-submit" action="{{ url_for('admin.seo_delete', seo_id=seo.id)}}" method="POST">
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                                        </form>
                                                    </td>

                                                </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                <div class="text-center m-auto">
                                    {{ macros.links(seos) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!-- End Row -->
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {% include 'admin/includes/datatable_scripts.html' %}
{% endblock %}
