{% extends "admin/base.html" %}
{% import 'admin/macros.html' as macros %}
{% block title %}CMS - Dashboard / PRIVACY POLICY /  UPDATE / ADD / DELETE{% endblock %}
{% block styles %}
    {% include 'admin/includes/datatable_styles.html' %}
{% endblock %}

{% block content %}
    <div class="">
        <div class="page-header-title">
            <h3 class="page-title">Dashboard / Privacy Policy </h3>
            {% include 'admin/includes/flashes.html' %}
        </div>
    </div>

    <div class="page-content-wrapper ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <h4 class="m-b-30 m-t-0 pl-2 mr-auto"> Footer Text </h4>
                                <form calss="swal-submit" action="" method="POST">
                                   <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" /> 
                                     <input type="hidden" name="ids[]"> 
                                </form>
                                {% if footer_text %}

                                {% else %}  
                                <a href="{{ url_for('admin.footer_text_add') }}" class="waves-effect btn btn-success m-b-30"> Add Footer text</a>
                                {% endif %}

                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-12">
                                    <div class="table-responsive">
                                        <table id="datatable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                            <thead>
                                            <tr>
                                                <th>#ID</th>
                                                <th>Text</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                {% for footer_data in footer_text %}
                                                    <tr>
                                                    <td>{{ footer_data.id }}</td>
                                                    <td>{{ footer_data.title }}</td>
                                                    <td>
                                                        <a href="{{ url_for('admin.footer_text_update', text_id=footer_data.id) }}" class="btn btn-info btn-sm mr-2">Edit</a>
                                                        <a href="#" class="swal-confirm btn btn-danger btn-sm mr-2"
                                                        swal-warn="Are you sure you want to delete this module ?">Delete</a>
                                                        <form class="swal-submit" action="{{ url_for('admin.footer_text_delete', text_id=footer_data.id) }}" method="POST">
                                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                                        </form>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="text-center m-auto">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  

                <!-- Start Footer Image Add -->

                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <h4 class="m-b-30 m-t-0 pl-2 mr-auto"> Footer Image </h4>
                                <form calss="swal-submit" action="" method="POST">
                                   <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" /> 
                                     <input type="hidden" name="ids[]"> 
                                </form>
                                {% if footer_image %}
                                {% else %}
                                <a href="{{ url_for('admin.footer_image_add') }}" class="waves-effect btn btn-success m-b-30"> Add Footer Image</a>
                                {% endif %}
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-12">
                                    <div class="table-responsive">
                                        <table id="datatable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                            <thead>
                                            <tr>
                                                <th>#ID</th>
                                                <th>Footer Image</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                {% for data in footer_image %}
                                                    <tr>
                                                    <td>1.</td>
                                                    <td><img src="{{ data.image_url }}" alt="Image"></td>
                                                    <td>
                                                        <!-- <a href="#" class="btn btn-info btn-sm mr-2">Edit</a> -->
                                                        <a href="#" class="swal-confirm btn btn-danger btn-sm mr-2"
                                                        swal-warn="Are you sure you want to delete this module ?">Delete</a>
                                                        <form class="swal-submit" action="{{ url_for('admin.footer_image_delete', image_id=data.id) }}" method="POST">
                                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                                        </form>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="text-center m-auto">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- End Footer image -->

                <!-- Social Media icon/link Text -->
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <h4 class="m-b-30 m-t-0 pl-2 mr-auto"> Social Media Icon</h4>
                                <form calss="swal-submit" action="" method="POST">
                                   <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" /> 
                                     <input type="hidden" name="ids[]"> 
                                </form>
                                <a href="{{ url_for('admin.icon_add') }}" class="waves-effect btn btn-success m-b-30"> Add Social Icon</a>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-12">
                                    <div class="table-responsive">
                                        <table id="datatable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                            <thead>
                                            <tr>
                                                <th>#ID</th>
                                                <th>Icon</th>
                                                <th>Link</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                {% for icon in icons %}
                                                    <tr>
                                                    <td>{{ icon.id }}</td>
                                                    <td><i class="{{ icon.icon }}"></i></td>
                                                    <td>{{ icon.url_link}}</td>
                                                    <td>
                                                        <a href="{{ url_for('admin.icon_update', icon_id=icon.id) }}" class="btn btn-info btn-sm mr-2">Edit</a>
                                                        <a href="#" class="swal-confirm btn btn-danger btn-sm mr-2"
                                                        swal-warn="Are you sure you want to delete this module ?">Delete</a>
                                                        <form class="swal-submit" action="{{ url_for('admin.icon_delete', icon_id=icon.id) }}" method="POST">
                                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                                        </form>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="text-center m-auto">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Social Media icon and link -->

                <!-- Copyright Text only sinle add -->
                <div class="col-lg-12">
                    <div class="card">  
                        <div class="card-body">
                            <div class="row">
                                <h4 class="m-b-30 m-t-0 pl-2 mr-auto"> Copyright Footer Text</h4>
                                <form calss="swal-submit" action="" method="POST">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" /> 
                                    <input type="hidden" name="ids[]"> 
                                </form>
                                {% if text %}
                                {% else %}
                                <a href="{{ url_for('admin.copyright_add') }}" class="waves-effect btn btn-success m-b-30"> Add Copyright</a>
                                {% endif %}
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-12">
                                    <div class="table-responsive">
                                        <table id="datatable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                            <thead>
                                            <tr>
                                                <th>#ID</th>
                                                <th>Copyright</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                {% for copyright in text %}
                                                    <tr>
                                                    <td>1.</td>
                                                    <td>{{ copyright.text }}</td>
                                                    <td>
                                                        <a href="{{ url_for('admin.copyright_edit', copytext_id=copyright.id) }}" class="btn btn-info btn-sm mr-2">Edit</a>
                                                        <a href="#" class="swal-confirm btn btn-danger btn-sm mr-2"
                                                        swal-warn="Are you sure you want to delete this module ?">Delete</a>
                                                        <form class="swal-submit" action="{{ url_for('admin.copyright_delete', copytext_id=copyright.id) }}" method="POST">
                                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                                        </form>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="text-center m-auto">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- End Logo -->

                <!-- Start Dropdown List for Resources  -->

                <div class="col-lg-12">
                    <div class="card">  
                        <div class="card-body">
                            <div class="row">
                                <h4 class="m-b-30 m-t-0 pl-2 mr-auto"> Resources Details</h4>
                                <a href="{{ url_for('admin.resource_add') }}" class="waves-effect btn btn-success m-b-30"> Add Resources Role</a>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-12">
                                    <!-- table start -->
                                    <div class="table-responsive">
                                        <table id="datatable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                            <thead>
                                            <tr>
                                                <th>#ID</th>
                                                <th>Copyright</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                {% for resource in resources %}
                                                    <tr>
                                                    <td>{{ loop.index }}.</td>
                                                    <td>{{ resource.role_title }}</td>
                                                    <td>
                                                        <a href="{{ url_for('admin.resource_update', role_id=resource.id) }}" class="btn btn-info btn-sm mr-2">Edit</a>
                                                        <a href="#" class="swal-confirm btn btn-danger btn-sm mr-2"
                                                        swal-warn="Are you sure you want to delete this module ?">Delete</a>
                                                        <form class="swal-submit" action="{{ url_for('admin.resource_delete', role_id=resource.id)}}" method="POST">
                                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                                        </form>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- end table -->
                                    <div class="mt-5">
                                        <form action="" method="post">
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                         
                                            <div class="form-group">
                                                <label for="exampleFormControlSelect1">RESOURCES SELECT</label>
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                  <option>---------------------Select Option---------------------</option>
                                                  {% for resource in resources %}
                                                  <option value="{{resource.role_title}}">{{ resource.role_title }}</option>
                                                  {% endfor %}
                                                </select>

                                              </div>
                                              <input type="submit" class="btn btn-success" value="Check Property">
                                        </form>
                                    </div>
                                </div>
                                <div class="text-center m-auto">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- END Dropdown list -->

            </div> <!-- End Row -->
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {% include 'admin/includes/datatable_scripts.html' %}
{% endblock %}