{% extends "admin/base.html" %}
{% import 'admin/macros.html' as macros %}
{% block title %}CMS - Dashboard / Home / Update Home Title  {% endblock %}
{% block content %}
    <div class="">
        <div class="page-header-title">
            <h3 class="page-title"> <a class="btn btn-outline-info" href="#"><i class="fas fa-arrow-left"></i></a> Dashboard / Update Title </h3>
        </div>
    </div> 
    <div class="page-content-wrapper ">
        <div class="container-fluid">
            <div class="row">
                <!-- Basic example -->
                <div class="col-lg-12 ">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="m-t-0 m-b-5">Add Home Title</h3>
                            <form action="{{ url_for('admin.update_home_title', id=home.id )}}" method="POST">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                {{ macros.render_form_field(form.firstext) }}
                                {{ macros.render_form_field(form.secondtext) }}
                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-primary waves-effect waves-light">Update Home Title</button>
                                </div>
                            </form>
                        </div><!-- card-body -->
                    </div> <!-- card -->
                </div> <!-- col-->
            </div>
        </div>
    </div>
{% endblock %}
